<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.td_tp_1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Td_tp_1">
        <activity android:name=".planning"></activity>
        <activity android:name=".tp3_lecture_fichier" />
        <activity android:name=".homepage_tp3" />
        <activity android:name=".tp1_exercice8" />
        <activity android:name=".recapitulatif_inscription_exercice5" />
        <activity android:name=".tp1_exercice_5" />
        <activity android:name=".homepage_rendu_09_tp_1" />
        <activity android:name=".tp1_3_4_xml" />
        <activity android:name=".tp1_3_4_java" />
        <activity android:name=".td1_exercice5" />
        <activity android:name=".td1_exercice4" />
        <activity android:name=".td1_exercice3" />
        <activity android:name=".td1_exercice2" />
        <activity android:name=".td1_exercice1" />
        <activity android:name=".homepage_tp_1" />
        <activity android:name=".homepage_td_1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>